---
import { SectionMap } from './SectionMap';

interface Props {
  label: string;
  map: SectionMap;
}

const { label, map } = Astro.props as Props;

const { index, type } = map.getSection(label);
---

<a 
  href={'#' + SectionMap.sanitizeLabel(label)}
>{type} {index.join('.')}</a>
