---
import { bibState, type Paper } from '@/components/svelte/bib/BibState.svelte';
import { toString, toId } from '@/components/paper/paperToCiteString';
import type { MasterPapers } from '@/content/blog/master-thesis-assets/master-thesis-bib';

interface Props<T extends { [key: string]: Paper }> {
  papers: T;
  paperIds: (keyof T)[];
}

const { papers, paperIds } = Astro.props as Props<MasterPapers>;
---

<div class="citeList inline">
  [{
    paperIds.map((paperId, i) => {
      const paper = papers[paperId];

      if (!paper) return null;

      // Add paper to bibliography
      bibState.addPaper(paper);

      return (
        <div class="inline mx-0">
          {i != 0 && ', '}
          <a href={'#' + toId(paperId)}>{toString(paper)}</a>
        </div>
      );
    })
  }]
</div>
