---
import { SectionMap } from './SectionMap';

interface Props {
  label: string;
  map: SectionMap;
  title: string;
}

const { label, title, map } = Astro.props as Props;

const index = map.getLabelByType(label, 'Code');
---

<div class="bg-[#24292e] border rounded code">
  <h5
    class="p-2 text-white border-b-2 border-b-orange-900 bg-orange-500/10"
    id={SectionMap.sanitizeLabel(label)}
  >
    Program {index.length > 0 ? index : ['??']}. - {title}
  </h5>

  <slot />
</div>

<style is:global>
  .code pre {
    margin-bottom: 0;
  }
</style>
