---
interface Props {
  type: 'section' | 'subsection' | 'subsubsection' | 'figure' | 'table';
  label: string;
}

const { type, label } = Astro.props as Props;

const sanitizedLabel = label.replaceAll(/\s/g, '-').toLowerCase();
---

<a href={'#' + sanitizedLabel}>
  {type[0].toUpperCase() + type.slice(1)}
  {label}
</a>
