---
import { refState } from './svelte/bib/BibState.svelte';

interface Paper {
  id: string;
  title: string;
}

interface Props<T extends { [key: string]: Paper }> {
  papers: T;
  paperId: keyof T;
}

const { papers, paperId } = Astro.props;

const paper = papers[paperId];

refState.addPaper(paper);
---

<p class="font-bold inline">[{papers[paperId].id}-{papers[paperId].title}]</p>
