---
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<section class="bg-lime-950 max-w-6xl mx-auto p-8">
  <h2 class="font-title text-orange-600 text-2xl md:text-4xl font-bold mb-4">
    {title}
  </h2>

  {description ? <p class="text-white">{description}</p> : ''}

  <slot />
</section>
