---
import { Github, ArrowUpRight } from '@lucide/svelte';
import Captcha from './Captcha.astro';
---

<div class="grid grid-cols-1 md:grid-cols-2">
  <a
    class="border-orange-600 text-white p-4 border-2 bg-black hover:shadow-lg shadow-none shadow-orange-500/30 transition-shadow flex gap-2 relative group"
    href="https://github.com/yustarandomname"
  >
    <ArrowUpRight
      class="absolute -right-3 opacity-0 group-hover:opacity-100 transition-all group-hover:right-3"
    />

    <Github />
    <span class="font-bold">GitHub:</span> @yustarandomname
  </a>

  <Captcha />

  <a
    class="border-orange-600 text-white p-4 border-2 bg-black hover:shadow-lg shadow-none shadow-orange-500/30 transition-shadow flex gap-2 relative group"
    href="www.linkedin.com/in/abeldebruijn"
  >
    <ArrowUpRight
      class="absolute -right-3 opacity-0 group-hover:opacity-100 transition-all group-hover:right-3"
    />

    <Github />
    <span class="font-bold">LinkedIn:</span> @abeldebruijn
  </a>
</div>
