---
import ArrowRight from './ArrowRight.svg';
import ArrowUp from './ArrowUp.svg';
import Coin from './svelte/Coin.svelte';
---

<div class="h-dvh bg-lime-950 max-w-6xl mx-auto relative">
  <div class="absolute bottom-4 md:bottom-[10rem] p-8 z-10 text-orange-500">
    <h1 class="font-title text-2xl md:text-8xl w-2/3">Abel de Bruijn</h1>
    <p class="mt-4">Web-Developer based in the Netherlands</p>
  </div>

  <div
    class="grid md:grid-cols-[1fr_calc(var(--spacing)*128)] gap-4 grid-rows-[calc(var(--spacing)*64)_6rem] md:grid-rows-[4rem_1fr] grid-cols-2 w-full absolute top-1/2 -translate-y-1/2 p-4"
  >
    <h2
      class="md:text-4xl text-2xl font-write text-white font-bold justify-self-end md:row-start-1 row-start-2 self-center"
    >
      Click me
    </h2>

    <div
      class="aspect-square md:h-128 md:w-128 h-64 w-64 max-w-full rounded-full bg-lime-800 dark:bg-red-900 col-span-2 md:col-span-1 md:row-span-3 justify-self-center"
    >
      <Coin client:idle />
    </div>

    <ArrowRight class="justify-self-end hidden md:block" />
    <ArrowUp class="md:hidden block size-30 justify-self-start rotate-30 -translate-x-4 -translate-y-4 scale-150" />
  </div>
</div>
